#homeLabel{
	-fx-text-fill: #0000FF;
	-fx-font-size:25.0px;	
}
#btn{
	-fx-font-size:16px;	
	-fx-text-fill: #FFFFFF;
	-fx-background-color:#63B4FB;
}
#home{
	-fx-background-image: url("images/home.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size:600 300;
	-fx-background-position:center center;
	-fx-effect: dropshadow(three-pass-box,pink,30,0.5,0,0);
}
#loginLabel1{
	-fx-text-fill: #9A42A7;
	-fx-font-size:25px;
}
#loginlabel2{
	-fx-text-fill: #55FFFF;
	-fx-font-size:20px;
}
#login{
	-fx-background-image:url("images/login.png");
	-fx-background-repeat: stretch;
	-fx-background-size:600 400;
	-fx-background-position:center center;
}
#dischargeVb{
	-fx-background-image:url("images/9.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position:center center;
	
}
