#homeLabel{
	-fx-text-fill: #2AFFAA;
	-fx-font-size:25.0px;	
}

#homeButton{
	-fx-text-fill: #7FFF7F;
	-fx-background-color:#FF6612;
}
#HomeVb{
	-fx-background-image: url("images/home.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size:600 300;
	-fx-background-position:center center;
	-fx-effect: dropshadow(three-pass-box,pink,30,0.5,0,0);
}
#loginVb{
	-fx-background-image:url("images/login.png");
	-fx-background-repeat: stretch;
	-fx-background-size:600 400;
	-fx-background-position:center center;
}
