#homeLabel{
	-fx-text-fill: #EECC7D;
	-fx-font-size:20.0px;
	
}

#homeButton{
	-fx-text-fill: #7FFF7F;
	-fx-background-color:#FF6612;
}
.root{
	-fx-background-color:#AA6645;
}
#AddMemHb{
	-fx-background-images: url("images/9.jpg");
	-fx-background-size:180 80;
	-fx-background-repeat: stretch;
	-fx-background-position:center center;
}